@import './signin.scss';
@import './signup.scss';
@import './nav.scss';
@import './news.scss';
@import './sales.scss';
@import './articles.scss';
@import './articleitem.scss';
@import './filter.scss';
@import './brands.scss';
@import './profile.scss';
@import './notfound.scss';

html *
{
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #EDEBED;
}

.bg {
  // fill background
  min-height: 100%;
  min-width: 1024px;

  // proportionate scaling
  width: 100%;
  height: auto;

  // positioning
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.link {
  color: #0000ff;
}

.link:hover {
  cursor: pointer;
}
