@import './signin.scss';
@import './signup.scss';
@import './nav.scss';
@import './news.scss';
@import './sales.scss';
@import './article.scss';
@import './filter.scss';
@import './profile.scss';
@import './notfound.scss';

html *
{
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

img.bg {
  // fill background
  min-height: 100%;
  min-width: 1024px;

  // proportionate scaling
  width: 100%;
  height: auto;

  // positioning
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
