@import './ensureauthentication.scss';
@import './signin.scss';
@import './signup.scss';
@import './nav.scss';
@import './news.scss';
@import './sales.scss';
@import './articles.scss';
@import './articleitem.scss';
@import './filter.scss';
@import './brands.scss';
@import './brand.scss';
@import './profile.scss';
@import './profilenav.scss';
@import './userinfo.scss';
@import './edituser.scss';
@import './editbrands.scss';
@import './notfound.scss';

html *
{
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: lowercase;
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  .app-toggle-nav {
    height: 100vh;
    width: 50px;
    border-right: #2c2c2c 1px solid;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .app-brand-title {
      position: absolute;
      top: 60px;
      margin: auto;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 4px;
      color: #000000;
      transform: rotate(270deg);
    }

    .app-hamburger {
      max-width: 100%;
    }
  }

  .app-toggle-nav:active {
    width: 35px;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
  }

  .app-toggle-nav:hover {
    cursor: default;
  }

  .app-nav {
    width: 0;
    height: 0;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
  }

  .selected {
    width: 500px;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
  }

  .app-children {
    width: 100%;
    z-index: 1;
  }
}

input {
  height: 30px;
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
  border: 1px solid #dcdcdc;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
}

button {
  height: 30px;
  width: calc(100% + 2px);
  border: 1px solid #2c2c2c;
  margin-left: 2px;
  background-color: #2c2c2c;
  font-size: 20px;
  font-weight: 300;
  color: #f5f5f5;
  text-transform: lowercase;
}

.link {
  color: #0000ff;
}

.link:hover {
  cursor: pointer;
}

.error {
  max-width: 100%;
  margin: 0;
  text-align: center;
  font-size: 12px;
  color: #ff0000;
}

.input-error {
  border-color: #ff0000;
}
