.articles-container {
  display: flex;
  flex-direction: row;

  .articles {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex: 19;

    .articles-none-visible {
      margin: 0 0 250px 60px;
      align-self: flex-end;
      font-size: 40px;
    }
  }

  .articles-nav {
    width: 60px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .articles-nav-forward, .articles-nav-backward {
      max-width: 100%;
    }
  }
}
