.article {
  height: 100vh;
  max-width: 240px;
  border-left: 1px solid #dcdcdc;
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #5f5f5f;

  .article-brands {
    height: 75px;
    font-size: 28px;
    font-weight: 400;

    .article-brands-brand {
      margin: 4px 0;
    }
  }

  .article-date {
    height: 100px;
    margin: 8px 0 0 auto;
  }

  .article-title {
    margin-top: auto;

    a {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #5f5f5f;
      text-decoration: none;
    }

    a:hover {
      color: #b0b0b0;
      cursor: pointer;
    }
  }

  .article-image-container {
    max-width: 100%;

    .article-image {
      max-width: 100%;
      align-self: flex-end;
    }
  }
}

.article:last-child {
  border-right: 1px solid #dcdcdc;
}