div.article {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  background-color: #eeeeee;
  border: 1px solid #dcdcdc;
  margin-bottom: 30px;

  div.image-container {
    min-height: 300px;
    min-width: 330px;
    max-height: 300px;
    max-width: 330px;
    object-fit: cover;
    overflow: hidden;
  }

  div.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 30px 0 30px;

    div.title {
      flex: 0 0 fit-content;

      a {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #2c2c2c;
        text-decoration: none;
      }

      a:hover {
        color: #b0b0b0;
      }
    }

    div.date {
      margin: 16px 0 0 auto;
      padding-right: 14px;
    }

    div.blurb {
      margin-top: 20px;
    }
  }
}
