.articles-container {
  display: flex;
  flex-direction: row;

  .articles {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex: 19;
  }

  .articles-nav {
    display: flex;
    flex-direction: column;
    flex: 1;

    .articles-nav-forward, .articles-nav-backward {
      max-width: 100%;
    }
  }
}
