.brands-container {
  display: flex;
  flex-direction: row;

  h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 2;

    span {
      width: 100%;
      padding: 0 0 120px 20px;
      font-size: 48px;
    }
  }

  .brands {
    display: flex;
    flex-direction: row;
    flex: 5;

    .brands-list {
      flex: 3;
      list-style-type: none;
      overflow: scroll;

      .brands-list-grouping {
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;

        h1 {
          min-width: 40px;
          max-width: 40px;
          margin: 0 30px 0 0;
          align-self: flex-start;
          font-size: 48px;
          font-weight: 600;
        }

        .brands-list-grouping-brands {
          width: calc(100% - 40px);
          margin-top: 6px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;

          .brands-list-grouping-brands-brand {
            width: calc(100% * (1/4));
            margin-right: 5%;
            margin-bottom: 4px;

            span:hover {
              color: #5f5f5f;
              cursor: pointer;
            }
          }
        }
      }

      li {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .hidden {
      display: none;
    }
  }
}
