.brands {
  display: flex;
  flex-direction: row;

  .brands-list {
    flex: 1;
  }

  .brands-brand {
    flex: 4;

    h1 {
      align-self: center;
    }

    .brands-brand-tabs {
      display: flex;
      flex-direction: row;
    }
  }

  .hidden {
    display: none;
  }
}
