.edit-brands {
  height: 100vh;
  width: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  overflow: scroll;

  h1 {
    margin: 24px 0;
    font-size: 24px;
  }

  ul {
    padding: 0;

    li {
      margin-bottom: 8px;
      font-size: 18px;
      list-style-type: none;
    }
  }

  .edit-brands-add {
    flex: 1;
    overflow: scroll;

    span:hover {
      color: #5f5f5f;
      cursor: pointer;
    }
  }

  .edit-brands-following {
    flex: 1;
  }

  .edit-brands-popular {
    flex: 1;

    span:hover {
      color: #b0b0b0;
      cursor: pointer;
    }
  }
}
