nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;

  h1 {
    margin: 0;
    padding: 10px 0 5px 0;
    display: flex;
    background-color: #ffffff;

    span {
      margin: auto;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 6px;
      color: #ffffff;
    }
  }

  .nav-routes {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      height: 40px;
      max-width: 100%;
      margin: 0 8px 8px 0;
      padding-left: 30px;
      line-height: 40px;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 3px;
      color: #ffffff;
      text-align: center;
      list-style-type: none;
    }

    a:hover {
      cursor: pointer;
    }

    .login, .logout {
      margin-top: auto;
    }

    .hidden {
      display: none;
    }
  }
}
