.news {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;

  .news-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 2;

    h1 {
      padding: 0 0 120px 20px;
      font-size: 48px;
    }
  }

  .articles-container {
    flex: 5;

    .article {
      .article-image-container {
        height: 150px;
        display: flex;
        justify-content: flex-end;
      }

      .article-blurb {
        height: 100px;
        margin-top: 12px;
        align-self: flex-start;
      }
    }
  }
}
