.sales {
  .article {
    height: 140px;

    .article-image-container {
      min-height: 140px;
      min-width: 140px;
      max-height: 140px;
      max-width: 140px;
    }

    .article-info-container {
      margin: 15px 15px 0 15px;

      .article-info-container-blurb {
        display: none;
      }
    }
  }
}
