.sales {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;

  h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;

    span {
      padding: 0 0 120px 20px;
      font-size: 48px;
    }
  }

  .articles-container {
    flex: 3;

    .article {

      .article-image-container {
        height: 200px;
        text-align: center;

        .article-image {
          min-width: 85%;
          margin: 0 auto;
        }
      }
    }
  }
}
