.sign-up-container {
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;

  .sign-up-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 2;

    h1 {
      padding: 0 0 120px 20px;
      font-size: 48px;
    }
  }

  .sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sign-up-form-username-input {
      margin-top: -15px;
    }

    input {
      height: 30px;
      width: 150px;
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      font-size: 20px;
      text-align: center;
      margin-bottom: 15px;
    }

    button {
      height: 35px;
      width: 175px;
      border: 1px solid #b0b0b0;
      border-radius: 3px;
      font-size: 22px;
      margin-top: 5px;
    }
  }

  p {
    flex: 1.5;
    align-self: flex-end;
  }

  img {
    flex: 2;
    max-height: 100%;
    max-width: 70%;
  }
}
